@import "./imports.scss";
@import "./variables.scss";

// ------------ General
ic {
    font-family: appleEmojis;
}

.is-primary {
    background-color: $primary-color !important;
    color: $whites;
    border-radius: $small-radius;
    height: 50px;

    &:hover {
        background-color: $primary-color-dark !important;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: $secondary-color;
    color: $font-col;
}

span[data-txt] {
    font-size: medium;
}

::-webkit-scrollbar {
    width: 0;
}

// ------------ Specific

.header-inner {
    margin-top: -52px;
    padding: 10px;

    section {
        height: calc(100vh - 20px);
        width: calc(100vw - 20px);
        background-image: url(../assets/images/binary.gif);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

.navbar {
    background-color: $trans-bg;
    padding: 0px 5em;
    margin: 20px 25px;
    backdrop-filter: blur(1px);
    border-radius: $big-radius;
    height: 82px;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;

    .navbar-item {
        color: $font-col;

        &:hover {
            background-color: transparent;
        }

        a:hover {
            color: $primary-color;
        }
    }

    .navbar-dropdown {
        .dropdown-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                margin-left: 5px;
            }
        }
    }

    .button {
        align-self: center;
        gap: 5px;
        margin-left: 15px;
        font-size: large;
        padding: 15px;
        color: $whites;
    }

    .navbar-divider {
        width: 0px;
        height: 45%;
        margin: auto 0.2em;
        border-left: 1px solid $blacks;
    }
}

.is-solid {
    background-color: $secondary-color-dark !important;
    height: 84px;
    margin: 19px 23px;
    border: 2px solid $primary-color;
}

.header {
    margin: 0px;
    // overflow: hidden;

    .header-intro {
        padding-left: 105px;
        max-width: fit-content;
    }

    .header-head {
        box-sizing: border-box;
        display: inline-block;
        margin-top: 28vh;

        span {
            font-size: 5rem;
            font-weight: bold;
            color: $blacks;
            line-height: 1.2;
        }
    }

    .header-txt {
        .profession {
            font-weight: normal;
            color: $blacks;
            line-height: 5;
        }

        ic {
            font-size: 2rem;
        }

        .divider-hor {
            width: 100%;
            height: 4px;
            margin: 0;
            background-color: $blacks;
        }

        .button {
            height: 82px;
            width: 100%;
            margin-top: 65px;
            border-radius: $big-radius;
        }
    }

    .header-image {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;

        .container {
            box-sizing: border-box;
            position: inherit;
            width: 100%;
            height: 100%;
        }

        ic {
            position: absolute;
            right: 8vw;
            bottom: -200px;
            font-size: 30em;
            visibility: inherit;

        }
    }
}

.aboutme {
    height: 1200px;

    .name {
        color: $primary-color;
    }

    .field-label {
        text-align: left;
        max-width: 70px;
    }
}