$primary-color: #5371D9;
$primary-color-dark: #415DC3;
$secondary-color: #F0F0F0;
$secondary-color-dark: #E3E4E8;

$secondary-color-rgb: 240 240 240;
$secondary-color-dark-rgb: 227 228 232;


$whites: #fff;
$blacks: #000;

$font-col: #000;

$trans-bg: rgb(240 240 240 / 50%);

$big-radius: 1.5em;
$small-radius: 1.1em;

$content-margin: 2em;
$section-margin: 5em;